#board {
  position: relative;
  width: 900px;
  height: 500px;
  margin: 40px auto;
  border: 2px solid white;
  background-color: black;
  overflow: hidden;
}

.nuage {
  position: absolute;
  top: 0px;
  width: 200px;
  height: 200px;
  background: url("../assets/images/nuage.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.nuage2 {
  position: absolute;
  top: 0px;
  width: 200px;
  height: 200px;
  background: url("../assets/images/nuage2.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.nuage3 {
  position: absolute;
  top: 0px;
  width: 200px;
  height: 200px;
  background: url("../assets/images/nuage3.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.nuage4 {
  position: absolute;
  top: 0px;
  width: 200px;
  height: 200px;
  background: url("../assets/images/nuage4.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.nuage5 {
  position: absolute;
  top: 0px;
  width: 200px;
  height: 200px;
  background: url("../assets/images/nuage5.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.nuage6 {
  position: absolute;
  top: 0px;
  width: 200px;
  height: 200px;
  background: url("../assets/images/nuage6.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.nuage7 {
  position: absolute;
  top: 0px;
  width: 200px;
  height: 200px;
  background: url("../assets/images/nuage7.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.nuage8 {
  position: absolute;
  top: 0px;
  width: 200px;
  height: 200px;
  background: url("../assets/images/nuage8.png");
  background-size: contain;
  background-repeat: no-repeat;
}
#points {
  position: absolute;
  top: 0px;
  margin: 40px;
  opacity: 0.7;
  font-size: 10em;
  color: white;
}

.clickable {
  cursor: pointer;
}

.shooter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 100%;
  padding: 10px;
}

.centered-content {
  flex: 1;
}

.right-content {
  justify-content: flex-end;
}
